.young-serif-regular {
	font-family: "Young Serif", serif;
	font-weight: 400;
	font-style: normal;
  }  

body {
    font-family: Young Serif, Outfit, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3E5D8;
}

h2 {
	color: maroon;
  }

  .ingredients h2, .instructions h2, .nutrition-info h2 {
	color: #804F40;
}
.recipe-card {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 25px 40px;
	margin: 20px auto;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 638px;
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
}

.recipe-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: Outfit,Young Serif,sans-serif;
    
}

.preparation-time {
	padding: 20px;
	background-color: #FFF7FC;
	border-radius: 10px;
    font-family: outfit, young-serif, sans-serif;
}
.preparation-time h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #703A51;
}

.preparation-time ul {
	list-style-type: disc;
	padding-left: 20px;
}

.preparation-time li {
	font-size: 16px;
	margin-bottom: 15px;
}

.ingredients {
    margin-top: 40px; 
}

.ingredients h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ingredients ul {
	list-style-type: disc;
	padding-left: 44px;
    font-family: outfit, young-serif, sans-serif;
}

.ingredients li {
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 25px;
}

.instructions {
	/* width: 400px; */
	margin: 20px auto;
    margin-top: 40px; 
	/* border: 1px solid #ddd; */
	/* border-radius: 10px; */
	/* background-color: #F5F5F5; */
}
  
  .instructions h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .instructions ol {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: outfit;
	line-height: 1.5em;
}
  
  .instructions li {
	margin-bottom: 10px;
	font-size: 16px;
  }
  
  .instructions li strong {
	font-weight: bold;
  }

  .nutrition-info {
	/* width: 400px; */
	margin: 40px auto;
	/* border: 1px solid #ddd; */
	/* border-radius: 10px; */
	/* background-color: #F5F5F5; */
}

.nutrition-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.nutrition-info p {
	font-size: 16px;
	color: #666666;
	margin-bottom: 10px;
	font-family: outfit;
}
.nutrition-info table td {
    color: #804F40;
  }
.nutrition-info table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-info th, .nutrition-info td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	font-family: outfit;
	font-weight: bold;
}

.nutrition-info th {
	font-weight: normal;
	font-family: outfit;
}



/* Mobile Screen Styles */
@media (max-width: 375px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    .recipe-card {
        width: 80%;
        padding: 26px;
        margin: 10px auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .recipe-card img {
        border-radius: 8px;
    }

    h2 {
        font-size: 20px; 
    }

    .recipe-card p {
        font-size: 14px; 
        line-height: 1.4;
    }

    .preparation-time,
    .ingredients,
    .instructions,
    .nutrition-info {
        padding: 15px; 
    }

    .preparation-time h3,
    .ingredients h2,
    .instructions h2,
    .nutrition-info h2 {
        font-size: 18px; 
    }

    .preparation-time ul,
    .ingredients ul,
    .instructions ol {
        padding-left: 20px; 
    }

    .preparation-time li,
    .ingredients li,
    .instructions li {
        font-size: 14px; 
        margin-bottom: 10px;
    }

    .nutrition-info table {
        font-size: 14px; 
    }

    .nutrition-info th, .nutrition-info td {
        padding: 8px; 
    }

}
