* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f3e5d8;
}

/* For mobile */

.recipe-card {
  width: 100%;
  background-color: #ffffff;
}

.recipe-card .hero-img img {
  width: 100%;
}

.content {
  padding: 32px 24px;
}

.content p {
  margin-bottom: 20px;
}

.content .section-title {
  font-size: 32px;
  line-height: normal;
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
}

.content .preparation-time {
  background-color: hsl(330, 100%, 98%);
}

.preparation-time .card-title {
  font-size: 18px;
  line-height: normal;
  color: hsl(332, 51%, 32%);
  margin-bottom: 10px;
}

.content .sub-title {
  font-size: 24px;
  line-height: normal;
  font-family: "Outfit", sans-serif;
  color: hsl(14, 45%, 36%);
  margin-bottom: 16px;
}

.preparation-time {
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.preparation-time ul {
  list-style-type: disc;
  padding-left: 20px;
}

.preparation-time li {
  margin-bottom: 15px;
}

.ingredients {
  margin-bottom: 40px;
}

.ingredients ul {
  list-style-type: disc;
  padding-left: 44px;
}

.ingredients li {
  margin-bottom: 15px;
  padding-left: 25px;
}

.instructions {
  margin-bottom: 40px;
}

.instructions h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.instructions ol {
  list-style: none;
  line-height: normal;
}

.instructions ol li {
  padding-bottom: 4px;
}

.instructions li strong {
  font-weight: bold;
}

.nutrition-info table td {
  color: #804f40;
}
.nutrition-info table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-info th,
.nutrition-info td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-weight: bold;
}

.nutrition-info th {
  font-weight: normal;
}

@media only screen and (min-width: 1440px) {
  .recipe-card {
    width: 100%;
    max-width: 650px;
    margin: 96px auto;
    border-radius: 20px;
  }

  .recipe-card .hero-img {
    padding: 24px 24px 0 24px;
  }

  .recipe-card .hero-img img {
    border-radius: 16px;
  }
}
